crap-advisor-api/.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

crap-advisor-frontend/node_modules
crap-advisor-frontend/dist
crap-advisor-frontend/dist-ssr
crap-advisor-frontend/build
*.local
.pnp
.pnp.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
