.sidebar {
    font-size: 14px;
    z-index: 1000;
    box-shadow: 0 0 0 2px rgb(0, 0, 0, 0.1);
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.15);
}

.sidebar::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.2);
}

.logo {
    font-weight: 300;
    text-align: center;
    color: var(--hard-gray);
}

.welcome {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.section-restroom {
    background: linear-gradient(
            hsl(calc(var(--restroom-hue) + 10), 100%, 90%),
            hsl(var(--restroom-hue), 100%, 65%)
    );
    padding: 5px 20px 40px 20px;
    text-align: center;
    border-top: 1px solid var(--medium-gray);
    border-bottom: 1px solid var(--medium-gray);
}

.restroom-created {
    color: hsl(var(--restroom-hue), 70%, 50%);
    margin: 0;
}

.restroom-name {
    font-size: 36px;
    font-family: "Prata", serif;
    margin: 30px 0 0;
    color: hsl(var(--restroom-hue), 100%, 12%);
}

.restroom-rating {
    font-size: 20px;
    margin: 5px 0 0;
    color: hsl(var(--restroom-hue), 100%, 12%);
}

.restroom-reviews-count {
    margin: 5px 0 0;
    color: hsl(var(--restroom-hue), 100%, 12%);
}

.button-add-review {
    margin: 15px auto;
}