.sidebar {
    padding: 20px;
    font-size: 14px;
    background-color: white;
    width: 300px;
    border-right: 1px solid black;
    z-index: 1000;
}

.sidebar-restroom-header {
    font-size: 32px;
}

.sidebar-restroom-rating {
    font-size: 16px;
}

.sidebar-review-container {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
}

.logo {
    width: 300px;
}